<h1 mat-dialog-title>Nuevo Registro</h1>
<div mat-dialog-content>
    <div class="example-container">
        <mat-form-field>
            <mat-select placeholder="Tipo de evento" [(ngModel)]="tipoEvento">
                <mat-option *ngFor="let e of tiposDeEvento" value="{{e}}">{{e}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Fecha" [(ngModel)]="fecha">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div *ngIf="tipoEvento != null && tipoEvento != 'Síntoma' && tipoEvento != 'Actividad Física'">
            <div *ngIf="tipoEvento != null && tipoEvento != 'Bebida'">
                Platos
                <button mat-icon-button aria-label="Nuevo Plato" (click)="addNewPlato()">
                    <mat-icon>add</mat-icon>
                </button>
                <div *ngFor="let b of platosList; let i = index; trackBy:trackByFn">
                    <mat-form-field style="display: inline-block;">
                        <input matInput placeholder="Nuevo Plato" [(ngModel)]=platosList[i]>
                    </mat-form-field>
                    <button style="display: inline-block;" mat-icon-button aria-label="Borrar" (click)="removePlato(i)">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>
            </div>

            <div>
                Bebidas
                <button mat-icon-button aria-label="Nueva Bebida" (click)="addNewBebida()">
                    <mat-icon>add</mat-icon>
                </button>
                <div *ngFor="let b of bebidasList; let j = index; trackBy:trackByFn">
                    <mat-form-field>
                        <input matInput placeholder="Nueva Bebida" [(ngModel)]=bebidasList[j]>
                    </mat-form-field>
                    <button mat-icon-button aria-label="Borrar" (click)="removeBebida(j)">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <div *ngIf="tipoEvento != null && (tipoEvento == 'Síntoma' || tipoEvento == 'Actividad Física')">
            <mat-form-field>
                <input matInput placeholder="Nuevo dato" [(ngModel)]="notFoodRegistryValue">
            </mat-form-field>
        </div>


    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="data.result" (click)="assemblyRegistrosAndCreate()" cdkFocusInitial>Crear</button>
</div>