<mat-card>
    <mat-card-title>Gráficos y Estadísticas</mat-card-title>
    <mat-card-subtitle>{{startDate | date: 'dd/MM/yyyy'}} al {{endDate | date: 'dd/MM/yyyy'}}</mat-card-subtitle>

    <div class="date-range-container">
        <mat-form-field>
            <input matInput [matDatepicker]="picker" [matDatepickerFilter]="startDateFilter" placeholder="Cambiar fecha desde" [(ngModel)]="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker2" [matDatepickerFilter]="endDateFilter" placeholder="Cambiar fecha hasta" [(ngModel)]="endDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        
        <button mat-icon-button aria-label="Buscar"><mat-icon>search</mat-icon></button>
    
    </div>

    <mat-tab-group>
        <mat-tab label="Alimento / Alimentos Totales">
            <app-chart-pie class="tab-content"></app-chart-pie>
        </mat-tab>
        <mat-tab label="Tipo de Alimento / Alimentos Totales">
            <app-chart-bar class="tab-content"></app-chart-bar>
        </mat-tab>
        <mat-tab label="Agua vs. No-Agua">
        </mat-tab>
    </mat-tab-group>

</mat-card>