<mat-card>
    <mat-card-title>Gráficos y Estadísticas</mat-card-title>
    <mat-card-subtitle>{{startDate | date: 'dd/MM/yyyy'}} al {{endDate | date: 'dd/MM/yyyy'}}</mat-card-subtitle>

    <div class="date-range-container">
        <mat-form-field>
            <input matInput [matDatepicker]="picker" [matDatepickerFilter]="startDateFilter" placeholder="Cambiar fecha desde" [(ngModel)]="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker2" [matDatepickerFilter]="endDateFilter" placeholder="Cambiar fecha hasta" [(ngModel)]="endDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        
        <button mat-icon-button aria-label="Buscar" (click)="getDataForCharts()"><mat-icon>search</mat-icon></button>
    
    </div>

    <mat-tab-group>
        <mat-tab label="Alimento / Alimentos Totales">
            <app-chart-pie class="tab-content" 
            [labels]="labelsAlimentoVsTotal" 
            [amounts]="amountsAlimentoVsTotal"
            [chartName]="'alimentosVsTotal'"
            [hashDataValues]="hashDataValuesAlimentos"></app-chart-pie>
        </mat-tab>
        <mat-tab label="Tipo de Alimento / Alimentos Totales">
            <app-chart-pie class="tab-content" 
            [labels]="labelsTiposAlimentoVsTotal" 
            [amounts]="amountsTiposAlimentoVsTotal"
            [chartName]="'tiposAlimentosVsTotal'"
            [hashDataValues]="hashDataValuesTipos"></app-chart-pie>
        </mat-tab>
        <mat-tab label="Permitidos / No Permitidos">
            <app-chart-bar class="tab-content" 
            [labels]="labelsPermitidosVsNo" 
            [amounts]="amountsPermitidosVsNo"
            [chartName]="'permitidosVsNo'"></app-chart-bar>
        </mat-tab>
        <mat-tab label="Síntomas">
            <app-chart-bar class="tab-content" 
            [labels]="labelsSintomas" 
            [amounts]="amountsSintomas"
            [chartName]="'sintomas'"></app-chart-bar>
        </mat-tab>
        <mat-tab label="Actividad Física">
            <app-chart-bar class="tab-content" 
            [labels]="labelsActividadFisica" 
            [amounts]="amountsActividadFisica"
            [chartName]="'actividadFisica'"></app-chart-bar>
        </mat-tab>
        <mat-tab label="Peso">
            <app-chart-line class="tab-content"
            [labels]="labelsPeso" 
            [amounts]="amountsPeso"
            [chartName]="'peso'"></app-chart-line>
        </mat-tab>
    </mat-tab-group>

</mat-card>