.example-container {
    display: flex;
    flex-direction: column;
}

.example-container > * {
    width: 60%;
/* margin: 20px; */
}

.back-button {
    padding: 0;
    min-width: 0;
    margin: 0;
    vertical-align: middle;
}
  