/* canvas {
    height: 400px !important;
    width: 800px !important;
} */

mat-list mat-list-item [mat-line] {
    white-space: normal !important;
}

mat-list-item{
    height: auto !important;
    /* margin-bottom: 10px; */
} 
