<div class="example-container">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="day1">
            <th mat-header-cell *matHeaderCellDef> Día 1 </th>
            <td mat-cell *matCellDef="let element">
                {{element.datetime}} <br>
                {{element.tipo}} <br>
                {{element.valor}} <br>
                {{element.cantidad}} <br>
            </td>
            <!-- <td mat-cell *matCellDef="let element" *ngIf="!showElementThisDay(1, element)"></td> -->
        </ng-container>

        <ng-container matColumnDef="day2">
            <th mat-header-cell *matHeaderCellDef> Día 2 </th>
            <td mat-cell *matCellDef="let element">
                {{element.datetime}} <br>
                {{element.tipo}} <br>
                {{element.valor}} <br>
                {{element.cantidad}} <br>
            </td>
        </ng-container>

        <ng-container matColumnDef="day3">
            <th mat-header-cell *matHeaderCellDef> Día 3 </th>
            <td mat-cell *matCellDef="let element">
                {{element.datetime}} <br>
                {{element.tipo}} <br>
                {{element.valor}} <br>
                {{element.cantidad}} <br>
            </td>
        </ng-container>

        <ng-container matColumnDef="day4">
            <th mat-header-cell *matHeaderCellDef> Día 4 </th>
            <td mat-cell *matCellDef="let element">
                {{element.datetime}} <br>
                {{element.tipo}} <br>
                {{element.valor}} <br>
                {{element.cantidad}} <br>
            </td>
        </ng-container>

        <ng-container matColumnDef="day5">
            <th mat-header-cell *matHeaderCellDef> Día 5 </th>
            <td mat-cell *matCellDef="let element">
                {{element.datetime}} <br>
                {{element.tipo}} <br>
                {{element.valor}} <br>
                {{element.cantidad}} <br>
            </td>
        </ng-container>

        <ng-container matColumnDef="day6">
            <th mat-header-cell *matHeaderCellDef> Día 6 </th>
            <td mat-cell *matCellDef="let element">
                {{element.datetime}} <br>
                {{element.tipo}} <br>
                {{element.valor}} <br>
                {{element.cantidad}} <br>
            </td>
        </ng-container>

        <ng-container matColumnDef="day7">
            <th mat-header-cell *matHeaderCellDef> Día 7 </th>
            <td mat-cell *matCellDef="let element">
                {{element.datetime}} <br>
                {{element.tipo}} <br>
                {{element.valor}} <br>
                {{element.cantidad}} <br>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>

<button mat-raised-button color="primary" routerLink="/registry/new" class="content-button">Cargar nuevo
    registro</button>