<mat-card>
    <mat-card-title>Admnistrador de Registros</mat-card-title>
    <mat-card-subtitle>{{startDate | date: 'dd/MM/yyyy'}} al {{endDate | date: 'dd/MM/yyyy'}}</mat-card-subtitle>

    <div class="date-range-container">
        <mat-form-field>
            <input matInput [matDatepicker]="picker" [matDatepickerFilter]="startDateFilter"
                placeholder="Cambiar fecha desde" [(ngModel)]="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker2" [matDatepickerFilter]="endDateFilter"
                placeholder="Cambiar fecha hasta" [(ngModel)]="endDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <button mat-icon-button aria-label="Buscar" (click)="search()">
            <mat-icon>search</mat-icon>
        </button>
    </div>

    <button class="round-floating-button" mat-fab color="primary" routerLink="/registry/new"> + </button>

    <div *ngIf="totalRegistries == 0">No hay registros para mostrar</div>
    <div *ngIf="totalRegistries > 0">
        <div *ngFor="let e of dataSource | keyvalue">
            <mat-list class="registry-list">
                <h3 mat-subheader>{{getWeekDay(e.key)}} {{e.key}}</h3>
                <div *ngFor="let c of e.value; let i = index">
                    <mat-list-item>
                        <mat-icon mat-list-icon *ngIf="c.tipo.toLowerCase() == 'comida'">restaurant_menu</mat-icon>
                        <mat-icon mat-list-icon style="color: darkturquoise" *ngIf="c.tipo.toLowerCase() == 'bebida'">local_drink</mat-icon>
                        <mat-icon mat-list-icon style="color:red" *ngIf="c.tipo.toLowerCase() == 'síntoma'">
                            local_hospital</mat-icon>
                        <mat-icon mat-list-icon style="color: lightseagreen"
                            *ngIf="c.tipo.toLowerCase() == 'misceláneo'">eco</mat-icon>
                        <h4 mat-line>{{c.datetime | date : 'hh:mm a'}} - {{c.tipo}}</h4>
                        <p mat-line> {{c.valor}} {{c.cantidad ? c.cantidad : (c.intensidad ? c.intensidad : '')}} </p>
                    </mat-list-item>
                    <mat-divider *ngIf="i != e.value.length - 1"></mat-divider>
                </div>
            </mat-list>
        </div>
    </div>
</mat-card>