<mat-card>
    <mat-card-title>Administrador de Registros</mat-card-title>
    <mat-card-subtitle *ngIf="startDate && endDate">Del {{startDate | date: 'dd/MM/yyyy'}} al
        {{endDate | date: 'dd/MM/yyyy'}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="startDate && !endDate">Del {{startDate | date: 'dd/MM/yyyy'}} a la actualidad
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="!startDate && endDate">Del comienzo al {{endDate | date: 'dd/MM/yyyy'}}
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="!startDate && !endDate">Del comienzo a la actualidad</mat-card-subtitle>

    <div class="date-range-container">
        <mat-form-field>
            <input matInput [matDatepicker]="picker" [matDatepickerFilter]="startDateFilter()"
                placeholder="Cambiar fecha desde" [(ngModel)]="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker2" [matDatepickerFilter]="endDateFilter()"
                placeholder="Cambiar fecha hasta" [(ngModel)]="endDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Buscar por valor" [(ngModel)]=valor>
        </mat-form-field>

        <button mat-icon-button aria-label="Buscar" (click)="search()">
            <mat-icon>search</mat-icon>
        </button>
    </div>

    <button class="round-floating-button1" mat-fab color="primary" (click)="openNewRegistryDialog(null, true)"> +
    </button>
    <button class="round-floating-button2" mat-fab color="primary" (click)="openNewRegistryDialog(null, false)">
        {{'{ }'}} </button>

    <div *ngIf="totalRegistries == 0">No hay registros para mostrar</div>
    <div *ngIf="totalRegistries > 0">
        <div *ngFor="let e of dataSource">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{getWeekDay(e.datetime)}} {{e.datetime}}
                        </mat-panel-title>
                        <mat-panel-description>
                            <!-- Type your name and age -->
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-list class="registry-list">
                        <div *ngFor="let c of e.registries; let i = index">
                            <mat-list-item>
                                <mat-icon mat-list-icon
                                    *ngIf="c.tipoEvento && c.tipoEvento.toLowerCase() == 'desayuno'">emoji_food_beverage
                                </mat-icon>
                                <mat-icon mat-list-icon *ngIf="c.tipoEvento && c.tipoEvento.toLowerCase() == 'cena'">
                                    nights_stay
                                </mat-icon>
                                <mat-icon mat-list-icon
                                    *ngIf="c.tipoEvento && c.tipoEvento.toLowerCase() == 'almuerzo'">wb_sunny
                                </mat-icon>
                                <mat-icon mat-list-icon
                                    *ngIf="c.tipoEvento && c.tipoEvento.toLowerCase() == 'colación'">watch_later
                                </mat-icon>
                                <mat-icon mat-list-icon style="color: cornflowerblue"
                                    *ngIf="c.tipoEvento && c.tipoEvento.toLowerCase() == 'actividad física'">sports
                                </mat-icon>
                                <mat-icon mat-list-icon style=" color:red"
                                    *ngIf="c.tipoEvento && c.tipoEvento.toLowerCase() == 'síntoma'">
                                    local_hospital</mat-icon>

                                <mat-icon mat-list-icon style="color: darkgray"
                                    *ngIf="c.tipo.toLowerCase() == 'comida'">restaurant_menu
                                </mat-icon>
                                <mat-icon mat-list-icon style="color: darkturquoise"
                                    *ngIf="c.tipo.toLowerCase() == 'bebida'">
                                    local_drink</mat-icon>
                                <mat-icon mat-list-icon style="color:red"
                                    *ngIf="!c.tipoEvento && c.tipo.toLowerCase() == 'síntoma'">
                                    local_hospital</mat-icon>
                                <mat-icon mat-list-icon style="color: cornflowerblue"
                                    *ngIf="!c.tipoEvento && c.tipo.toLowerCase() == 'misceláneo'">sports</mat-icon>

                                <h4 mat-line>{{c.datetime | date : 'hh:mm a'}} {{c.tipoEvento}}</h4>
                                <p mat-line> {{c.valor}}
                                    {{c.cantidad ? c.cantidad : (c.intensidad ? c.intensidad : '')}} </p>

                                <div style=" display: inline-block;">
                                    <mat-icon flex (click)="openNewRegistryDialog(c, true)" mat-list-icon>edit
                                    </mat-icon>
                                    <mat-icon flex (click)="openConfirmDeleteDialog(c)" mat-list-icon>delete</mat-icon>
                                </div>

                            </mat-list-item>
                            <!-- <mat-divider *ngIf="i != dataSource.length - 1"></mat-divider> -->
                            <!-- <mat-divider></mat-divider> -->
                        </div>
                    </mat-list>

                </mat-expansion-panel>
            </mat-accordion>

        </div>
    </div>
</mat-card>